.row {
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
/* #lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
} */ /* USELESS STUFF */

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
/* #steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
} */ /* USELESS STUFF */

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

/* #why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
} */ /* USELESS STUFF */

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

/* .clear {
  clear: both;
} */ /* USELESS STUFF */


/*=================*/
/* MAX WIDTH 992px */
@media screen and (max-width:992px) {

  /* lezioni @ max 992px */
  .row {
    width: 100%;
    padding: 20px;
    line-height: 1.5em;
    font-size: 1.15em;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    color: #333;
  }

  .row h1 {
    margin: 10px auto 40px;
    font-size: 2em;
  }
  .row h3 {
    margin: 15px auto;
    font-size: 1.35em;
  }


  #lezioni .row .lesson-block {
    padding: 20px;
    margin-bottom: 30px;
  }

  #lezioni .row img {
    height: 150px;
  }

}

/*=================*/
/* MAX WIDTH 560px */
@media screen and (max-width:610px) {
  #lezioni .row img {
    height: 120px;
  }
}

/*=================*/
/* MAX WIDTH 480px */
@media all and (max-width:480px){
  #lezioni .row .lesson-block {
    box-shadow: 0px 0px 12px 4px #dbe1e9;
  }

  #lezioni .row img {
    height: 120px;
  }
}
